# requirements.txt

# Core libraries
numpy==1.22.0
pandas==1.4.1

# Data visualization
seaborn==0.11.2
matplotlib==3.5.1

# Time series analysis
statsmodels==0.13.0
pmdarima==1.8.3

# Machine learning models and metrics
scikit-learn==1.0
keras==3.11.3
tensorflow==2.8.0